/*Retira as barras de rolagem*/
html {
  overflow-y: hidden;
  overflow-x: hidden;
}
/*Alinha o Card no centro da tela*/
.container {
  height: 725px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Centraliza os itens no centro*/
.text {
  align-items: center;
}

/*Atribui a fonte ao FontText*/
@font-face {
  font-family: "FontText";
  src: url("../src/fonts/KGRedHands.ttf");
}

/*Bota estilo nos li's*/
li {
  list-style-type: none;
  font-family: FontText;
  font-size: 14px;
  font-weight: 50;
  color: white;
}
